#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.pic-container {
  width: 317px; 
  height: 317px;
  border-radius: 25px 25px 0px 0px;
  overflow: hidden;
  margin: 0px; 
  padding: 0;
}

.profile-pic {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  margin: 0px; 
}

.info-body {
  padding: 10px 0px 0px 0px; 
  background-color: #1A1B21;
  width: 317px; 
  height: 399px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.info h1, .info-body h2, .info-body a {
  margin: 0;
  padding: 0;
}

.info-name {
  font-size: 25px;
}

.info-title {
  color: #F3BF99; 
  font-size: 12.8px;
  padding: 6.19px 0px 0px 0px; 
  font-weight: 400;
}

.info-website {
  font-size: 10.24px; 
  font-weight: 400;
  color: #F5F5F5;
  padding: 8.81px 0px 0px 0px; 
}

.info-footer {
  height: 64px; 
  width: 317px; 
  background: #161619;
  padding: 0; 
}

.btn {
  font-weight: 600;
  font-size: 14px;
  display: flex; 
  justify-content: space-evenly;
  padding:15px 0px 0px 0px; 
  width: 317px; 
  justify-items: center;
  align-items: center;
}



.btn-linkedin {
  background-color: #5093E2;
  width:115px; 
}

.btn-email {
  background-color: #5093E2;
  width:115px; 
}

.btn img {
  width: 16px; 
  height: 16px; 
}

.heading {
  font-size: 16px;
  font-weight: 700;
  display: flex; 
  align-items: left;
  padding: 0px;
  margin:0;
  color: #F5F5F5; 
}

.info-about-body {
  padding: 33px 39.28px 0 36px; 
}

p {
  font-size: 10.24px;
  font-weight: 400;
  text-align: left;
  padding: 5px 0 27px 0; 
  margin:0; 
  color: #DCDCDC;
  width: 247px;
}

.info-footer {
  justify-content: space-evenly;
  display: flex; 
  align-items: center;
  border-radius: 0 0 25px 25px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add this line for shadow */
}


.info-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.info-footer img {
  width: 100%;
  height: 100%;
}